<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.hello-world"
        version   = "1.0.0">
    <name>Enyo Todo</name>

    <description>
        Enyo Todo sample application
    </description>

    <author href="http://enyojs.com/">
       Roy Sutton 
    </author>

    <preference name="phonegap-version" value="2.9.0" />

    <icon src="icon.png" />
</widget>
