/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px;
}

.todo-row {
	background-color: light-gray;
	border-bottom: 1px solid black;
}
